@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: PoppinsBold;
  src: url('../fonts/Poppins-Bold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

p,
a {
  font-size: 1.8rem;
  color: $font-color-primary;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
