/* HEADER*/
header {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-left: auto;
  background: url('../imgs/illustration-working.svg') no-repeat;
  background-size: 45%;
  background-position: 113% 75%;
  height: 75vh;

  .navbar {
    margin: 30px 10vw;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left {
      display: flex;
      gap: 30px;
      align-items: center;

      a {
        @extend .chlorine-color;
        &:hover {
          color: $font-hover-color;
          opacity: 1;
        }
      }
    }

    .nav-right {
      display: flex;
      gap: 30px;
      align-items: flex-start;

      a {
        &:first-of-type {
          @extend .chlorine-color;

          &:hover {
            color: $font-hover-color;
            opacity: 1;
          }
        }
        padding: 10px 15px;

        &:last-of-type {
          @extend .hover-button;
          background-color: $button-bg-color;
          color: $font-color-secondary;
          border-radius: 25px;
        }
      }
    }
  }

  .head-intro {
    margin: 30px 10vw;

    article {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 8rem;
        font-family: PoppinsBold, Arial, Helvetica, sans-serif;
      }

      p {
        @extend .chlorine-color;
        margin-bottom: 20px;
      }

      a {
        @extend .link-button-style;
        @extend .hover-button;
      }
    }
  }
}
